<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.grandeur.android">
    
    <application>
        <provider
            android:authorities="${applicationId}.GrandeurInitProvider"
            android:name="dev.grandeur.android.GrandeurInitProvider"
            android:exported="false"
            android:enabled="true"
            android:initOrder="100" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>